<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="{% static 'shop_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'shop_app/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>
<body>
<div class="container">
    <div class="col-lg-5">
        {% if products %}
            <h4 class="mt3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Корзина <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            {% for basket in products %}
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ basket.product.name }}</h5>
                  <p class="card-text">{{ basket.product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-light">
                    <div class="row text-center">
                      <div class="col-lg-4">
                        <input name="basketID" type="number" class="form-control" value="{{ basket.quantity }}" min="0">
                      </div>
                      <div class="col-lg-4">1500 р.</div>
                      <div class="col-lg-4">
                        <a href="{% url 'shop_app:basket_delete' basket.id %}"><i class="fas fa-trash"></i></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            {% endfor %}
<!--        <div class="card mb-3">-->
<!--          <div class="card-footer">-->
<!--            <p class="float-left">Итого: </p>-->
<!--            <h4 class="float-right">2 390 руб.</h4>-->
<!--          </div>-->
<!--        </div>-->
            <button type="button" class="btn btn-success btn-lg float-right">Оформить</button>
    </div>
        {% else %}
            <h4 class="mt3 mb-3 text-center">Корзина пуста!</h4>
        {% endif %}
</div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static 'shop_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'shop_app/js/script.js' %}"></script>
    <script src="{% static 'shop_app/js/scripts.js' %}"></script>
    <script src="https://kit.fontawesome.com/c7fc2427e4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</body>
</html>